{% extends "foro/lobby.html" %}

{% block title %}
<title>cambiar password</title>
{% endblock title %}

{% block header_h1 %}
    <h1 class="fw-bolder">{{request.user.username}}</h1>
{% endblock header_h1 %}

{% block header_p %}
    <p class="lead mb-0">Cambio de contraseña</p>
    <form class="text-center my-5" action={% url "cambiar_password" %} method="POST">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        
        <input class="btn btn-primary" type="submit" value="Cambiar password">
        
    </form>

{% endblock header_p %}

{% block blog_entries %}
{% endblock blog_entries %}

{% block widgets %}
{% endblock widgets %}