{% extends "foro/lobby.html" %}

{% block title %}
<title>editar perfil</title>
{% endblock title %}

{% block header_h1 %}
    <h1 class="fw-bolder">{{request.user.username}}</h1>
{% endblock header_h1 %}

{% block header_p %}
{% if request.user.datosextra.avatar %}
<img src={{request.user.datosextra.avatar.url}} alt="avatar" height='138px' >   
{% endif %}
<p class="lead mb-0">edicion de perfil</p>
    <form class="text-center my-5" action={% url "editar_perfil" %} method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
            {{formulario}}
        <input class="btn btn-primary" type="submit" value="Editar">
        
    </form>

{% endblock header_p %}
    
{% block blog_entries %}
    <a class="navbar-brand" href={% url "cambiar_password" %}>Cambiar password</a>
{% endblock blog_entries %}

{% block widgets %}
{% endblock widgets %}