{% extends "foro/lobby.html" %}

{% block title %}
<title>perfil</title>
{% endblock title %}

{% block header_h1 %}
    <h1 class="fw-bolder">{{request.user.username}}</h1>
{% endblock header_h1 %}

{% block header_p %}
    <p class="lead mb-0">
        {% if request.user.datosextra.avatar %}
            <img src={{request.user.datosextra.avatar.url}} alt="avatar" >   
        {% endif %}
    </p>
    
    <a class="nav-item" href={% url "editar_perfil" %}>Editar perfil</a>

{% endblock header_p %}

{% block blog_entries %}
{% endblock blog_entries %}

{% block widgets %}
{% endblock widgets %}