{% extends "accounts/login.html" %}

{% block title_login %}
Registro
{% endblock title_login %}

{% block nav_login %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href={% url "about_me" %}>About</a></li>
                    <li class="nav-item"><a class="nav-link" href={% url "login" %}>Iniciar sesion</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock nav_login %}

{% block container_login %}
    <div class="text-center my-5">
        <h1 class="fw-bolder">Registro de usuario</h1>
        <form action={% url "registrarse" %} method = "POST">
            {% csrf_token %}
            
                {{formulario_registro}}

            <input class="btn btn-primary" type="submit" value = "registrarse">
        </form>
    </div>
{% endblock container_login %}
