{% extends "foro/lobby.html" %}

{% block title %}
<title>About me</title>
{% endblock title %}

{% block header_h1 %}
    <h1 class="fw-bolder">Javier Rojas</h1>
{% endblock header_h1 %}

{% block header_p %}
    <h2 class="lead mb-0">Programador novato con intereses en profesionalizarse</h2>
    <p>Lenguajes adquiridos: C, Java, Php, MySql y ahora Python.</p>
{% endblock header_p %}

{% block search %}
{% endblock search %}

{% block blog_entries %}
{% endblock blog_entries %}

{% block widgets %}
{% endblock widgets %}