{% extends "foro/lobby.html" %}

{% block header_h1 %}
    <h1 class="fw-bolder">{{cancion.titulo}}</h1>
{% endblock header_h1 %}
{% block header_p %}
    <p class="lead mb-0">{{cancion.subtitulo}}</p>
{% endblock header_p %}

{% block blog_entries %}
    <div class="card mb-8">
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">{{cancion.fecha}}</div>
            <h3 class="card-title">{{cancion.nombre}}</h3>
            <h5 class="card-subtitle">Artista - {{cancion.artista}} | Puntaje - {{cancion.puntaje}}</h5>
            <p class="card-text">{{cancion.opinion}}</p>
        </div>
    </div>
{% endblock blog_entries %}

{% block blogs %}
{% endblock blogs %}

{% block widgets %}
{% endblock widgets %}