{% extends "index.html" %}

{% block title %}
<title>lobby</title>
{% endblock title %}

{% block nav_bar %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href={% url "logout" %}>Salir</a>
                <a class="navbar-brand" href={% url "perfil" %}>
                    {% if request.user.datosextra.avatar %}
                    <img src={{request.user.datosextra.avatar.url}} alt="avatar" height='35px'>
                    {% endif %}
                    {{request.user.username}}
                 </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href={% url "lobby" %}>Home</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url "peliculas" %}>Peliculas</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url "videojuegos" %}>Videojuegos</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url "canciones" %}>Canciones</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href={% url "menu_creacion" %}>Crear Blog</a></li>
                        <li class="nav-item"><a class="nav-link" href={% url "about_me" %}>About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock nav_bar %}

{% block header_h1 %}
    <h1 class="fw-bolder">Blogs</h1>
{% endblock header_h1 %}
{% block header_p %}
    <p class="lead mb-0"></p>
{% endblock header_p %}

{% block search %}
{% endblock search %}

{% block blog_entries %}
{% endblock blog_entries %}

{% block widgets %}
{% endblock widgets %}