{% extends "foro/lobby.html" %}


{% block text_center %}
    <h1 class="fw-bolder">Que tipo de blog desea crear?</h1>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href={% url "creacion_pelicula" %}>Pelicula</a></li>
        <li class="nav-item"><a class="nav-link" href={% url "creacion_videojuego" %}>Videojuego</a></li>
        <li class="nav-item"><a class="nav-link" href={% url "creacion_cancion" %}>Cancion</a></li>
    </ul>
{% endblock text_center %}


{% block main_menu %}{% endblock main_menu %}