{% extends "foro/menu_creacion.html" %}

{% block title %}
<title>lModificacion</title>
{% endblock title %}

{% block text_center %}
    <h1 class="fw-bolder">Modificacion blog videojuego</h1>
{% endblock text_center %}

{% block main_menu %}
            
<div class="text-center my-5">
    <form action="" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.media}}
        {{form}}
        <input type="submit" value="Modificar">
    </form>
</div>


{% endblock main_menu %}