{% extends "foro/lobby.html" %}

{% block title %}
<title>videojuegos</title>
{% endblock title %}

{% block header_h1 %}
    <h1 class="fw-bolder">Blogs videojuegos</h1>
{% endblock header_h1 %}

{% block blog_entries %}
                

                <div class="col-lg-8">
                    {% block blogs %}
                    <div class="row">
                        <div class="col-lg-10">
                            {% if listado_de_videojuegos %}
                            {% for videojuego in listado_de_videojuegos %}
                            
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{videojuego.fecha}}</div>
                                    <h2 class="card-title h4">{{videojuego.titulo}}</h2>
                                    <p class="card-text">{{videojuego.subtitulo}}</p>
                                    <a class="btn btn-primary" href={% url "detalle_videojuego" videojuego.id %}>Read more →</a>
                                    <a class="btn btn-primary" href={% url "modificar_blog_videojuego" videojuego.id %}>Modificar</a>
                                </div>
                                <!-- aca falta un if si es admin -->
                                 <a class="btn btn-primary" href={% url "eliminar_blog_videojuego" videojuego.id %}>eliminar</a>
                            </div>
                            {% endfor %}
                            {% else %}
                                <p>No se encontraron blogs de videojuegos...</p>
                            {% endif %}
                        </div>
                        
                    </div>
                    
                </div>
                    {% endblock blogs %}
{% endblock blog_entries %}